#ordernumber{
	font-family: SecularOne-Regular;
	font-weight: 800;
	border:2px solid #fe6060;
	width: 13em;
	text-align: right;
	padding-right: 1em;
	cursor: pointer;
	}
	#ordernumber:hover{
		background-color: #fe6060;
		color:#fac900;
	}

#orderstatus{
	font-family: SecularOne-Regular;
	font-weight: 800;
	margin-right: 1em;
	width: 10em;

}

#aggreament{
	display: flex;
	justify-content: center;
	margin-bottom: -1em;
}