#paymentstopic{
  font-family: 'SecularOne-Regular';
  text-align: center;
  font-size: 2.2em;
  font-weight: 800;
  color:#fe6060;
  margin-top: -1.2em;
}
#paymentfooter{
	margin-top: 10em;
}

#paymentfooter span{
	text-align: center;
	font-family: 'Heebo';
  	background-color: #fe6060;
	color:#fac900;
	font-size: 0.6em;
	padding: 0em 2em;
}